body {
  overflow-x: hidden;
}

.my-designs-container {
}

.my-designs-container h1 {
  text-align: center;
  width: 100%;
  color: #f93c64;
  /* margin-left: 15px; */
}

#svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#container-to-left {
  margin: auto;
  padding: 0;
}

.no-user-container {
  width: 100vw;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-user-container > h1 {
  text-align: center;
}

.no-desings {
  text-align: center;
}
