/* GENERAL STYLES */

.component-container {
  width: 100%;
  height: 95vh;
}

.overflowy-hidden {
  overflow-y: hidden;
}

.bar-container {
  background-color: #201c2c;
  width: 400px;
  height: 100%;
  overflow-y: auto;
}

.bar-container h1 {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: inline-block;
}

.button {
  display: block;
  width: 90%;
  padding: 8px;
  background-color: #f93c64;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  color: #fff;
}

hr {
  margin: auto;
  width: 95%;
  background-color: #f93c64;
}

.hr {
  margin-bottom: 20px;
}

.expandable-container {
  display: none;
}

.expandable-container-active {
  display: block;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #201c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f93c64;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f2842;
}

/* ADD TEXT */

label {
  display: block;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

label > input,
label > select {
  border-radius: 5px;
  border: 1px solid #999;
  width: 180px;
  padding: 3px;
}

.label-bold > input,
.label-italic > input,
.label-underline > input,
.label-linethrough > input {
  width: 4%;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  width: 180px;
  height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.add {
  width: 20%;
}

/* UPLOAD IMAGE */

#url-input {
  border-radius: 5px;
  width: 117px;
  margin-right: 6px;
  border: none;
  padding: 3px;
}

#upload-image-btn-url {
  padding: 3px;
  background-color: #f93c64;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 57px;
}

.upload-image-btn {
  display: block;
  width: 180px;
  background-color: #f93c64;
  padding: 3px;
  color: #fff;
  border-radius: 5px;
  border: none;
}

#input-file,
#input-file-responsive {
  display: none;
}

/* FRONT BACK */

.front-back-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.front-btn,
.back-btn,
.front-btn-responsive,
.back-btn-responsive {
  width: 45%;
  padding: 8px;
  background-color: #f93c64;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.front-btn-responsive,
.back-btn-responsive {
  display: none;
}

/* SAVE */

.save-btn {
  display: block;
  width: 180px;
  background-color: #f93c64;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  border: none;
  margin: 20px auto;
}

/* CHOOSE COLOR */

.color-container-active {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

.color-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: slateblue;
  margin: 10px;
  border: none;
}

.color-item:hover {
  transform: scale(1.1);
}

.color-item:active {
  filter: drop-shadow(0 0 4px #000);
}

#white-color {
  background-color: #fff;
}

#black-color {
  background-color: #000;
}

#blue-color {
  background-color: #33f;
}

#red-color {
  background-color: #f33;
}

#yellow-color {
  background-color: #ff3;
}

/* Switching canvas */

.canvas-container {
  display: block;
  width: 600px;
  margin: auto;
}

.canvas-hidden {
  display: none;
}

.canvas-active {
  display: block;
}

/* SAVE FORM OVERLAY */

.overlay-container {
  display: none;
  position: absolute;
  margin-top: -8vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 50;
}

.overlay-container-active {
  display: block;
}

.overlay-container i {
  position: relative;
  font-size: 30px;
  color: #201c2c;
  left: 102%;
  top: -15%;
  cursor: pointer;
}

#save-form-container {
  margin: auto;
  margin-top: 15%;
  width: 500px;
  height: 230px;
  /* background-color: #201c2c; */
}

#save-form-container h1 {
  margin-top: -3%;
  width: 100%;
  text-align: center;
  color: #f93c64;
}

#save-form-container label {
  display: flex;
  margin: 30px auto;
  width: 55%;
}

#save-form-container label input::placeholder {
  color: #aaa;
}

#name-input {
  width: 150px;
  background-color: #201c2c;
  color: #fff;
  border: 1px solid #f93c64;
  text-align: center;
}

.save-form-btn {
  width: 80%;
}

.save-form-btn:hover {
  background-color: #cc3958;
}

.save-form-btn:active {
  background-color: #ff476e;
}

/* Responsive Design */

@media (max-width: 999px) {
  /* General */

  .bar-container {
    position: absolute;
    height: 100px;
    width: 100vw;
    bottom: 0%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .bar-container::-webkit-scrollbar {
    height: 2px;
  }

  .bar-container h1 {
    display: none;
  }

  .button {
    height: 60px;
    min-width: 100px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin: auto;
  }

  .front-back-container {
    display: none;
  }

  .front-btn-responsive,
  .back-btn-responsive {
    display: block;
    min-width: 100px;
    height: 60px;
    margin: auto 10px;
  }

  .canvas-container {
    /* margin-top: 11%; */
    bottom: 60px;
    margin: auto;
    z-index: 1;
  }

  /* Overlay */

  #save-form-container {
    margin-top: 40%;
    width: 350px;
  }

  #save-form-container label {
    width: 70%;
  }

  .save-form-btn {
    width: 100px;
    height: 40px;
  }

  /* Pop ups */

  .btn-choose-color-responsive {
    position: absolute;
    width: 100px;
    top: 0;
    bottom: 0%;
    left: 3%;
  }

  .color-container-responsive {
    display: block;
    position: absolute;
    top: 15px;
    width: 100%;
    left: 130px;
  }

  .bar-container {
    z-index: 20;
  }

  #add-text-container,
  #upload-image-container,
  #save-container {
    display: none;
  }

  /* Text */

  #add-text-container-responsive {
    position: absolute;
    width: 500px;
    bottom: 98px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(32, 28, 44, 0.92);
    backdrop-filter: blur(4px);
    z-index: 5;
  }

  /* Upload */

  #upload-image-container-responsive {
    position: absolute;
    width: 250px;
    bottom: 98px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(32, 28, 44, 0.98);
    backdrop-filter: blur(4px);
    z-index: 5;
  }

  .upload-image-btn {
    margin: auto;
  }

  /* Save */

  #save-container-responsive {
    position: absolute;
    width: 250px;
    bottom: 98px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(32, 28, 44, 0.98);
    backdrop-filter: blur(4px);
    z-index: 5;
  }
}

.display-none {
  display: none;
}

@media (max-width: 520px) {
  #add-text-container-responsive {
    width: 98%;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(32, 28, 44, 0.92);
    backdrop-filter: blur(4px);
    z-index: 5;
  }

  .button.add {
  }
}
