.col-md-6 img {
  width: 100%;
  padding: 20px;
}

.col-md-6 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.last-row {
  justify-content: center;
}

#sizes {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #f93c64;
}
