#tiess-logo {
  /* display: block; */
  width: 120px;
  margin-left: 15px;
}

#navbar-container {
  background-color: #201c2c;
  /* height: 8vh; */
}

#inner-container {
  display: flex;
}

#test {
  color: aqua;
}

#link-home,
#link-products,
#link-design,
#link-my-designs,
#link-about {
  color: #fff;
}

#burger {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navlink {
  color: #fff;
  padding-left: 20px;
}

.navlink:hover {
  color: #f93c64;
}

@media (max-width: 766px) {
  #inner-container {
    display: block;
  }
  #collapser {
    margin: 15px 0 0 15px;
  }
  #navbar-container {
  }
}
