#tiess-logo {
  width: 120px;
  margin-left: 15px;
}

#navbar-container {
  background-color: #201c2c;
  height: 8vh;
}

#inner-container {
  display: flex;
}

#test {
  color: aqua;
}

#link-home,
#link-products,
#link-design,
#link-my-designs,
#link-about {
  color: #fff;
}

#white {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navlink {
  color: #fff;
  padding-left: 20px;
}

.navlink:hover {
  color: #ccc;
}
