#logo {
  width: 50px;
  margin-left: 15px;
}

#navbar-container {
  background-color: #201c2c;
  /* height: 8vh; */
}

#inner-container {
  display: flex;
}

#test {
  color: aqua;
}

#link-home,
#link-design,
#link-my-designs,
#link-about {
  color: #fff;
}

#burger {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navlink {
  color: #fff;
  padding: 0 15px;
}

.navlink:hover {
  color: #f93c64;
}

#collapser {
  display: flex;
  align-items: center;
}

.login {
  position: absolute;
  right: 20px;
}

.navlink.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
}

.login-logout > p {
  margin: 5px;
  padding: 2px 5px;
}

.login-logout > p > small {
  color: #fa708e;
}

.user-name {
  padding-left: 5px;
}

@media (max-width: 767px) {
  #inner-container {
    display: block;
  }
  #collapser {
    margin: 15px 0 0 15px;
    align-items: flex-start;
  }

  .login {
    position: relative;
    right: unset;
  }

  .navlink {
    padding: 10px;
  }
  #navbar-container {
    z-index: 100;
  }
}
